@charset "utf-8";

.clearfix
{
	clear:both;
}

.floatright 
{
	margin:5px;
	float:right;
}

.floatleft
{
	float:left;
	clear:both;
}


.body-center
{
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}

#profile-picture
{
	margin-left: 20px;
}